
@{
    ViewData["Title"] = "Index";
}

<h3>Employee List</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
               Department Id
            </th>
            <th>
                Department Name
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td>
                .Net
            </td>
        </tr>
        <tr>
            <td>
                .Net
            </td>
        </tr>
        <tr>
            <td>
                .Net
            </td>
        </tr>
        <tr>
            <td>
                .Net
            </td>
        </tr>
        <tr>
            <td>
                .Net
            </td>
        </tr>



    </tbody>
</table>

